.main {
    height: 729px;
    background-color: #121619;
    background-image: linear-gradient(rgba(5, 5, 5, 0.562), rgba(0, 0, 0, 0.584)), url(../img/chef-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  

#a{
    text-transform: uppercase;
    color: white;
    transition: 0.5s;
    margin-right: 20px;
}

#a:hover{
    color: #FD9D3E;
}

.nav-item button{
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    background: #FD9D3E;
    color: white;
}